{% extends 'base.html' %}
{% load static %}
{% block title %}
    CHAKES - About_Us
{% endblock %}

{% block content %}
<h1 style="font-family: monospace; margin-left: 2rem">About Us</h1>
<div class="container">
    <div class="img_col">
        <img  src="{% static 'first_page\images\unnamed.jpg'%}"
      width="350"
      height="450"
      style="padding-left: 250px; padding-bottom: 50px;">
</div>
<div class="text_col">
    <h1 style="padding-left: 50px; font-size: 42px; font-family: monospace;">Alyssa Callahan</h1>
    <p style="padding-left: 50px; font-family: monospace">Hi! My name is Alyssa Callahan, I am computer science major at NDSU. I am currently attending NDSU as a commuting student and also have a part part-timetime job. With my busy schedule, I am still a full-time student at NDSU, but I also value my family time.</p>
    <p style="padding-left: 50px; font-family: monospace">During this project I have worked on personas and user stories so that we can set up functions for our website. This is an important step in building the foundation of a web project. I also helped to add styling to our web page to improve its visual appeal. </p>
</div>
</div>

<div class="container">
    <div class="img_col">
        <img src="{% static 'first_page\images\PlaceholderImage1.jpg'%}" width="350" height="350" style="padding-left: 250px; padding-bottom: 50px;">
</div>
<div class="text_col">
    <h1 style="padding-left: 50px; font-size: 42px; font-family: monospace;">Cade Schneeberger</h1>
    <p style="padding-left: 50px; font-family: monospace">Nice to meet you! I am Cade Schneeberger and I am a Computer Science student here at NDSU. As a student who lives off campus I like to make the most of my time here at NDSU. I was born and raised here in Fargo, ND and look forward to getting a job in the computer science field.</p>
    <p style="padding-left: 50px; font-family: monospace"> For this project I have worked on figuring out what different views and models we would need for this project. I have also helped out withe the about us page.</p>
</div>
</div>

<div class="container">
    <div class="img_col">
        <img src="{% static 'first_page\images\PlaceholderImage1.jpg'%}" width="350" height="350" style="padding-left: 250px; padding-bottom: 50px;">
</div>
<div class="text_col">
    <h1 style="padding-left: 50px; font-size: 42px; font-family: monospace;">Ebenezer Alomenu</h1>
    <p style="padding-left: 50px; font-family: monospace">Hello, I am Ebenezer Alomenu, a junior of North Dakota State University offering Computer Science. </p>
    <p style="padding-left: 50px; font-family: monospace">Planning:During the planning phase, I identified the key requirements of the attendance system and determined the scope of the project. This involved consulting with stakeholders to understand their needs, researching industry best practices, and identifying potential challenges that could arise during development.</p>
        
        <p>Data Gathering and Collection: Next, I collected and analyzed data relevant to the project. This included attendance data from previous systems, user feedback, and technical specifications for the software and hardware that would be required. I used this information to create a comprehensive project plan that would meet the needs of all stakeholders.</p>
        
        <p>Idea Generation: With the data and requirements in hand, I brainstormed potential solutions and features that would improve the attendance system. This involved considering various technical approaches, such as how to integrate with existing systems, as well as user experience considerations, such as how to make the system intuitive and easy to use.</p>
        
        <p>Overall, my contributions to the project included designing a comprehensive project plan, collecting and analyzing data, and generating ideas for features and technical solutions. By taking a methodical and collaborative approach, I was able to contribute to the success of the Django attendance system.</p>
</div>
</div>

<div class="container">
    <div class="img_col">
        <img src="{% static 'first_page\images\SelfImage.JPG'%}" width="350" height="350" style="padding-left: 250px; padding-bottom: 50px;">
</div>
<div class="text_col">
    <h1 style="padding-left: 50px; font-size: 42px; font-family: monospace;">Tyler Cichosz</h1>
    <p style="padding-left: 50px; font-family: monospace">Hello, my name is Tyler and I am a Sophmore in college looking into trying to get a bachelors degree in Computer Science. My home town is in Byron MN which is located about ten minutes out of Rochester MN.</p>
    <p style="padding-left: 50px; margin-bottom: 3rem; font-family: monospace">When it comes to this project, Some of the aspects that I worked on were setting up the functionallity of most aspects of this project. The signing in feature that allow users to sign into their account to view their courses. the ability to add courses and be able to see a detailed version of the course. As well as making it so that the users are able to navigate throughout the site using buttons that redirect to different html pages.</p>
</div>
</div>

{% endblock %}
