{% extends 'base.html' %}
{% load static %}
{% block title %}
    CHAKES - About_Us
{% endblock %}

{% block content %}
<h1 style="font-family: monospace; margin-left: 2rem">About Us</h1>
<div class="container">
    <div class="img_col">
        <img  src="{% static 'first_page\images\unnamed.jpg'%}"
      width="350"
      height="450"
      style="padding-left: 250px; padding-bottom: 50px;">
</div>
<div class="text_col">
    <h1 style="padding-left: 50px; font-size: 42px; font-family: monospace;">Alyssa Callahan</h1>
    <p style="padding-left: 50px;">Hi! My name is Alyssa Callahan, I am computer science major at NDSU. I am currently attending NDSU, as a commuting student and also have a part time job. With my busy schedule I am still a full time student at NDSU, but I also value my family time.</p>
    <p style="padding-left: 50px;">During this project I have worked on personas and user stories so that we can set up functions for our website. This is an important step to building the foundation of a web project.</p>
</div>
</div>

<div class="container">
    <div class="img_col">
        <img src="{% static 'first_page\images\PlaceholderImage1.jpg'%}" width="350" height="350" style="padding-left: 250px; padding-bottom: 50px;">
</div>
<div class="text_col">
    <h1 style="padding-left: 50px; font-size: 42px; font-family: monospace;">Cade Schneeberger</h1>
    <p style="padding-left: 50px;">Nice to meet you! I am Cade Schneeberger and I am a Computer Science student here at NDSU. As a student who lives off campus I like to make the most of my time here at NDSU. I was born and raised here in Fargo, ND and look forward to getting a job in the computer science field.</p>
    <p style="padding-left: 50px;"> For this project I have worked on figuring out what different views and models we would need for this project. I have also helped out withe the about us page.</p>
</div>
</div>

<div class="container">
    <div class="img_col">
        <img src="{% static 'first_page\images\PlaceholderImage1.jpg'%}" width="350" height="350" style="padding-left: 250px; padding-bottom: 50px;">
</div>
<div class="text_col">
    <h1 style="padding-left: 50px; font-size: 42px; font-family: monospace;">Ebenezer Alomenu</h1>
    <p style="padding-left: 50px;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis nam animi, ipsa exercitationem, at iste ratione, esse obcaecati magni officiis dolores nulla possimus molestiae voluptate quia minima incidunt tenetur ex.</p>
    <p style="padding-left: 50px;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum iste quo dolorum nihil. Consequuntur eveniet et in nostrum possimus eum est praesentium. Consequuntur voluptates inventore provident neque quidem ratione nihil.</p>
</div>
</div>

<div class="container">
    <div class="img_col">
        <img src="{% static 'first_page\images\SelfImage.JPG'%}" width="350" height="350" style="padding-left: 250px; padding-bottom: 50px;">
</div>
<div class="text_col">
    <h1 style="padding-left: 50px; font-size: 42px; font-family: monospace;">Tyler Cichosz</h1>
    <p style="padding-left: 50px;">Hello, my name is Tyler and I am a Sophmore in college looking into trying to get a bachlors degree in Computer Science. My home town is in Byron MN which is located about ten minutes out of Rochester MN.</p>
    <p style="padding-left: 50px; margin-bottom: 3rem">When it comes to this project, Some of the aspects that I worked on are the header with the interactive buttons to navigate to new pages for the website. As well as this About us page and getting the Loadout setup properly.</p>
</div>
</div>

{% endblock %}
