{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div>
        <button onclick="location.href='http://127.0.0.1:8000/'">
            <img src="{% static 'first_page\images\Screenshot 2023-02-28 165518.png' %}" style="width: 125px; height: 125px; float: left;">
        </button>
        <button onclick="location.href='http://127.0.0.1:8000/Profile/'">
            <h1 style="float: right;">Sign In
                <img src="{% static 'first_page\images\default-avatar.png' %}" style="width: 50px; margin-left: 10px; vertical-align: middle; border-radius: 50%; ">
            </h1>
        </button>
    </div>

    <div class = "topnav" style="float: right;">
        <a class="active" href="{% url 'first_homePage' %}">Home</a>
        <a class="active" href="{% url 'course_list' %}">Courses</a>
        <a class="active" href="{% url 'about_basePage' %}">About Us</a>

    </div>

    <hr>
    
    {% block content %}
    {% endblock %}
    
</body>
</html>
