{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <link rel="stylesheet" href="{%static 'css/styles.css'%}">
</head>
<body style="background-color: #c9c3c3;">
    <div style="background-color: rgb(148, 8, 8); padding-top: 0.5rem; padding-bottom: 0.5rem;">
         <button onclick="location.href='http://127.0.0.1:8000/'" style="margin-left: 1rem
         ;">
             <img src="{% static 'first_page\images\Screenshot 2023-02-28 165518.png' %}" style="width: 125px; height: 125px; float: left;">
         </button>
         <button onclick="location.href='http://127.0.0.1:8000/Profile/'" style="float: right; margin-top: 1rem; margin-right: 0.5rem;">
             <div style="display: flex; align-items: center;">
 
                 {% if user.is_authenticated %}
                 <h1 style="margin-right: 10px; margin-bottom: 0;">{{ user.first_name }}</h1>
                 {% else %}
                 <h1 style="margin-right: 10px; margin-bottom: 0;">Sign In</h1>
                 {% endif %}
                 <img src="{% static 'first_page\images\default-avatar.png' %}" style="width: 50px; margin-left: 10px; vertical-align: middle; border-radius: 50%;">
             </div>
         </button>        
         </h1>
     </div>
 
     <div class = "topnav" style="float: center;background-color: #646464ee;text-align: center;padding: 14px 16px;">
         <a class="active" href="{% url 'first_homePage' %}" style=" padding: 20px; color: rgb(255, 255, 255);font-size: x-large;font-family: monospace;">
             Home</a>
         <a class="active" href="{% url 'courses' %}" style=" padding: 20px; color: rgb(255, 255, 255);font-size: x-large;font-family: monospace;">
             Courses</a>
         <a class="active" href="{% url 'about_basePage' %}" style=" padding: 20px; color: rgb(255, 255, 255);font-size: x-large;font-family: monospace;">
             About Us</a>
     </div>
     <br>
    
  <div style="background-color: #333;overflow: hidden;position: fixed;bottom: 0;width: 100%; color: rgb(255, 255, 255);padding-top: 0.25rem; font-family: monospace;">
    This project is a demo created by: Alyssa Callahan, Tyler Cichosz, Cade Schneeberger, and Ebenezer Alomenu as a semester project that is based off of the information and skills we have learned in this course. 
  </div>
    {% block content %} {% endblock %}
    
</body>
</button>
