{% extends 'base.html' %} CHAKES - Index {% block content %} {% load static %}
<img
  src="{% static 'first_page\images\Screenshot 2023-02-28 165518.png' %}"
  style="
    height: 50%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  "
/>
<h1 style="font-family: monospace; text-align: center">Welcome to CHAKES</h1>

<p style="font-family: monospace; padding-left: 50px">
  Welcome to CHAKES University Attendance System. This System is in place to allow teachers to be able to view and monitor their courses classes. This will allow user to be able to better understand on the severity of their students attendance and the consequences that should come with the lack of attendance.
</p>
{% endblock %}
z