body{
    background-color: black;
}
hr{
    height: 1px;
        background-color: orange;
        border: none;
}

h2{
  color:white; 
  font-size: 50px;
}

p{
  color:white; 
  font-size: 25px; 
}

div{
  color:white; 
  font-size: 20px; 
}

.topnav {
    background-color: black;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: orange;
    color: white;
  }

  .container{
    display:flex; 
    align-items: top;
  }

  .img_col{
    flex-basis: 40%; 
  }
