/* widget.css */
.widget {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s ease-in-out;
  }
  
  .widget.open {
    visibility: visible;
    opacity: 1;
  }
  